.pet-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    max-height: 80vh; 
}

.pet-card {
    width: 250px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 20px;
    text-align: center;
    background-color: #97e5fc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease-in-out;
}

.pet-card:hover {
    transform: translateY(-5px);
}


.pet-image {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

h3 {
    font-size: 1.2em;
    color: #333;
}

p {
    font-size: 1em;
    color: #ffffff;
}


.select-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.select-btn:hover {
    background-color: #45a049;
}

.filter-btn {
    position: absolute;
    bottom: 20px;
    right: 30 px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    z-index: 1000;
}

.filter-btn:hover {
    background-color: #45a049;
}

.filter-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
    backdrop-filter: blur(5px); 
}

.filter-popup {
    background: white;
    padding: 40px;
    border-radius: 10px;
    border: 3px solid #4CAF50;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}

.filter-popup input,
.filter-popup select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-popup button:hover {
    background-color: #45a049;
}

.filter-popup button[type="button"] {
    background-color: #f44336;
}

.filter-popup button[type="button"]:hover {
    background-color: #d32f2f;
}